body {
	background-color: #98B6B5
}
/*#9C9C9C*/
/*#85B98B*/
.navbar-title{
	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 15px;
	font-family: Arial;
	font-size: 30px;
    color: #85B98B;
    text-shadow: 1px 1px;
}
.jumbotron{
    background: url(../assets/killingit.jpg) no-repeat center top;
    background-image: url("../assets/killingit.jpg");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding-top: 5px;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #9C9C9C;
    }


.jumbotron .h1, .jumbotron h1 {
    color: linear-gradient(135deg, 
                      rgb(66,196,163) 0%,
                      rgb(43,170,138) 35%,
                      rgb(28,208,163) 100%);

    text-shadow: 3px 1px;
}


.infotable{
    background-color: #FFFFFF
}

.formPanel{
    position: relative;
    position: center;
}/*
.password{
	font-size: 20px;
}*/
.navbar, .navbar-inverse {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    min-height: 40px;
}

.nav li {
    display: inline;
    color: #7B9997;
}

.navbar-inverse .navbar-nav > li > a {
    color: #28738E;
    font-family: Lato;
    font-size: 1.7em;
    font-weight: 300;
    padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
    background-image: linear-gradient(135deg, 
                      rgb(254,255,255) 0%,
                      rgb(221,241,249) 35%,
                      rgb(160,216,239) 100%);
    background-size: 200%;
    transition: 2.0s all linear;
    height: 100%;
}

.jumbotron2{
    background: url(../assets/schecter1.jpg) no-repeat center top;
    background-image: url("../assets/schecter1.jpg");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding-top: 5px;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #1EDCD6;
    }
    .jumbotron3{
    background: url(../assets/573213.jpg) no-repeat center top;
    background-image: url("../assets/573213.jpg");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding-top: 5px;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #1EDCD6;
    }

    .jumbotron4{
    background: url(../assets/tuxmsn.jpg) no-repeat center top;
    background-image: url("../assets/tuxmsn.jpg");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding-top: 5px;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #1EDCD6;
    }

    .ThreeThings{

        padding-top: 500px;
    }
